body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.btn-cancel{
  float: right;
}
.form-container{
  margin: 30px 0px;
}
/* .glyphicon{
  border: 1px grey solid;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px; 
} */
.btn-glyphicon{
  padding: 4px 7px !important;
  margin-right: 10px;
  font-size: 15px !important;
}
.fa-info-circle{
  font-size: 24px;
  display: inline;
}
.form-info{
  padding: 10px 0px;
  border-bottom: 1px solid #000;
}
.form-info h4{
  margin-left: 10px;
  display: inline;
}